on:
  push:
    branches:
      - main
    #branches-ignore:
    #  - "**"

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        #os: [Windows, macOS]
        os: [macOS]
        python_version: ["3.7", "3.8", "3.9"]

    steps:
      - name: Get latest Cmake and ninja (All-Systems)
        uses: lukka/get-cmake@latest

      - name: Clone GitHub repository
        run: |
          git clone --recurse-submodules https://github.com/openPupil/PyPupilEXT

      - uses: knicknic/os-specific-run@v1.0.3
        with:
          macos: |
            echo "Starting on macOS"
            brew install pkg-config
            brew install cmake
            brew install nasm
            brew install gcc
            brew install llvm
            brew install libomp
            brew install libmpc
            brew install tree
          linux: |
            echo "Starting on Linux"
          windows: |
            echo "Starting on Windows"

      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python_version }}
          architecture: x64

      - name: Restore artifacts, or setup vcpkg (All-Systems)
        uses: lukka/run-vcpkg@v10
        with:
          vcpkgDirectory: "${{ github.workspace }}/PyPupilEXT/3rdparty/vcpkg"
          vcpkgJsonGlob: "**/vcpkg.json"
          runVcpkgInstall: false
          vcpkgGitCommitId: "e99d9a4facea9d7e15a91212364d7a12762b7512"

      - name: Install python build requirements (All-Systems)
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel
          python -m pip install numpy
          python -m pip install setuptools
          python -m pip install ninja
          python -m pip install cmake

      - name: Build wheels for Python ${{ matrix.python_version }} in ${{ runner.os }} (All-Systems)
        run: |
          cd PyPupilEXT
          python setup.py sdist bdist_wheel

      - name: Upload wheels
        uses: actions/upload-artifact@v3
        with:
          path: PyPupilEXT/dist/
